body{
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.wrap{
    animation: fadeIn 0.5s linear;
}

.form{
    display: none;
}

.greetings{
    display: none;
}

.showing{
    display: block;
}

.bgImg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}